<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.zhang.lawyer_online.core.mapper.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into user (name,age,sex,mobile,address,user_id) values
        (#{userName},#{age},#{sex},#{mobile},#{address},#{userId})
    </insert>
</mapper>